@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Host Grotesk', sans-serif;
}

.bg-one {
  background-image: url('../public/cover.png');
}

.bg-two {
  background-image: url('../public/cover2.png');
}

.bg-three {
  background-image: url('../public/cover3.png');
}

.bg-four {
  background-image: url('../public/cover4.png');
}

.bg-five {
  background-image: url('../public/cover5.png');
}

.bg-six {
  background-image: url('../public/cover6.png');
}
